
body {

}
.grid {
  display: grid;

  grid-template-columns: [start] 50px [start-red start-black]70px 80px 130px[start-yellow ened-yellow]85px 85px[end];

  grid-template-rows: 50px 140px 140px 70px 70px 35px 35px;
  grid-template-areas:
  }
/*#grid > header { grid-area: head; }
  #grid > nav    { grid-area: nav; }
  #grid > main   { grid-area: main; }
  #grid > footer { grid-area: foot; }*/

  .grid div:nth-child(1) {
      grid-column: span 2;}

  .grid div:nth-child(2) {
          grid-column: span 2;}

  .grid div:nth-child(3) {
    grid-column: span 2;}

    .grid div:nth-child(5) {
      grid-column: span 3 ;}

      .grid div:nth-child(6) {
        grid-column: span 2;}


.grid > div { border: 1px solid; }

    .white {
        background-color: white;
        }
    .yellow {
        background-color: yellow;
        }
    .red {
        background-color: red;
        }
