
body {

}
.grid {
  display: grid;

  grid-template-columns: [start] 50px [start-center end-center] 70px 80px 130px [start-center1 end-center1] 85px 85px [end];

  grid-template-rows: [start-row] 50px [first-line] 140px [start-center] 140px [start-center1 end-center1] 70px 70px [stert-end end-end] 35px;
  grid-template-areas:
  }

  .grid > div { border: 1px solid; }

  .grid div:nth-child(1) {
      grid-column: span 2;}

  .grid div:nth-child(2) {
          grid-column: span 2;}

  .grid div:nth-child(3) {
    grid-column: start-center1/end;}

  .grid div:nth-child(4) {

    grid-row:first-line/start-center;}

  .red { grid-column: start-center/start-center1;
         grid-row: first-line/start-center1;
         background-color: red;}

  .grid div:nth-child(6) {
         grid-column: start-center1/end;
         grid-row: first-line/start-center;}

/*
      grid-column: span 2;}*/
    /*.grid div:nth-child(5) {
      grid-column: span 3 ;}*/

      /*.grid div:nth-child(6) {
        grid-column: span 2;}*/



    .white {
        background-color: white;
        }
    .yellow {
        background-color: yellow;
        }
